# Caroline is the default reviewer for all code
* @cmalinmayor

# Anniek is the tree widget expert
/src/napari_track_edit/data_views/views/tree_view/* @anniekstok


# Anniek is also the import/export expert
/src/napari_track_edit/import_export/* @anniekstok
